#                          Analysis of Real Estate Sales in Conneticut

##### Collaborators: Arin Zeng, Helen Gu, Jennifer Li, Jason Chen
<hr>

## Step 1: Data Collection

In [4]:

#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.ct.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.ct.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("5mzw-sjtu", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,serialnumber,listyear,daterecorded,town,address,assessedvalue,saleamount,salesratio,propertytype,residentialtype,geo_coordinates,:@computed_region_dam5_q64j,:@computed_region_nhmp_cq6b,:@computed_region_m4y2_whse,:@computed_region_snd5_k6zv,nonusecode,remarks,opm_remarks
0,20001,2020,2020-10-05T00:00:00.000,Andover,303 LAKE RD,121300,210000,0.5776,Residential,Single Family,"{'type': 'Point', 'coordinates': [-72.35327, 4...",38,246,1,1,NaN,NaN,NaN
1,20002,2020,2020-10-15T00:00:00.000,Andover,78 WINDRUSH LN,181800,275000,0.661090909,Residential,Single Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20003,2020,2020-10-22T00:00:00.000,Andover,203 BOSTON HILL RD,190200,279900,0.6795,Residential,Single Family,"{'type': 'Point', 'coordinates': [-72.39695, 4...",38,246,1,1,NaN,NaN,NaN
3,20004,2020,2020-11-02T00:00:00.000,Andover,23 PARKER BRIDGE RD,172900,272000,0.6356,Residential,Single Family,"{'type': 'Point', 'coordinates': [-72.33558, 4...",38,246,1,1,NaN,NaN,NaN
4,20005,2020,2020-11-09T00:00:00.000,Andover,181 LONG HILL RD,152800,255000,0.5992,Residential,Single Family,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = results_df.drop(columns = ['serialnumber', 
                      ':@computed_region_dam5_q64j', ':@computed_region_nhmp_cq6b', 
                      ':@computed_region_m4y2_whse', ':@computed_region_snd5_k6zv',
                     'remarks', 'opm_remarks'])
df.head()

,listyear,daterecorded,town,address,assessedvalue,saleamount,salesratio,propertytype,residentialtype,geo_coordinates,nonusecode
0,2020,2020-10-05T00:00:00.000,Andover,303 LAKE RD,121300,210000,0.5776,Residential,Single Family,"{'type': 'Point', 'coordinates': [-72.35327, 4...",NaN
1,2020,2020-10-15T00:00:00.000,Andover,78 WINDRUSH LN,181800,275000,0.661090909,Residential,Single Family,NaN,NaN
2,2020,2020-10-22T00:00:00.000,Andover,203 BOSTON HILL RD,190200,279900,0.6795,Residential,Single Family,"{'type': 'Point', 'coordinates': [-72.39695, 4...",NaN
3,2020,2020-11-02T00:00:00.000,Andover,23 PARKER BRIDGE RD,172900,272000,0.6356,Residential,Single Family,"{'type': 'Point', 'coordinates': [-72.33558, 4...",NaN
4,2020,2020-11-09T00:00:00.000,Andover,181 LONG HILL RD,152800,255000,0.5992,Residential,Single Family,NaN,NaN

## Step 2: Data Processing

## Step 3: Exploratory Analysis & Data Visualization

## Step 4: Exploratory Analysis & Data Visualization

## Step 5: Model: Analysis, Hypothesis Testing, Machine Learning

## Step 6: Interpretation: Insight & Policy Decision